<footer>
  <hr>
  <a href="https://twitter.com/snapblast">Follow @snapblast</a> •
  <a href="https://github.com/ryanwi/snapblast">SnapBlast on GitHub</a> •
  Email: ryan at ryan-williams.net •
  © Copyright 2014 <a href="http://www.ryan-williams.net">Ryan Williams</a>
</footer>
