<h1>About SnapBlast</h1>

<p>
    <a href="http://www.teamsnap.com/">TeamSnap</a> offers features for
    sending emails and SMS messages, but not voice calls.  That's where
    SnapBlast comes in.  It allows a coach/manager to quickly call the
    entire team in one blast with a voice message.  For when you need to
    get word out in a hurry.
</p>

<h2>Features</h2>

<ul>
  <li>Login with your TeamSnap credentials. (we do not store them)</li>
  <li>Choose one of your teams to call.</li>
  <li>Write a message and send it, it will be converted to voice and all players will be a call.</li>
  <li>Want something else?  Let us know.</li>
</ul>

<h2>Credits</h2>

<p>
  SnapBlast is an open source application (<a href="https://github.com/ryanwi/snapblast">source on GitHub</a>)
  and was created by <a href="http://www.ryan-williams.net">Portland Web
  Developer Ryan Williams</a> (<a href="https://twitter.com/ryanwi">@ryanwi</a>).
  It uses the APIs provided by <a href="https://teamsnap.com">TeamSnap</a> and
  <a href="https://twilio.com">Twilio</a>.
</p>

<div>
  <iframe src="https://docs.google.com/forms/d/1GsqJ8WWk_FQqj9hevdoHo5nwAOzha0glRMBMxi3WnTM/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<div>
