

<div class="jumbotron">
  <h1>SnapBlast</h1>
  <p>Instantly broadcast a phone message to your TeamSnap team.</p>
  <p>
    <a class="btn btn-success btn-lg" role="button" href="/teams">Call my team</a>
    <a class="btn btn-default btn-lg" role="button" href="/about">Learn More</a>
  </p>

  <div style="margin-top:40px;">
    <h4>Powered By:</h4>
    <div>
        <div style="float:left;margin-right: 20px;">
            <a href="http://teamsnap.com"><img src="https://aa5498032991a101442c-34c0f4eec246050dfc1ee92670a7b97d.ssl.cf1.rackcdn.com/teamsnap-web-bug-cb4cb96b2369727acbf8f316547a2edc.png" /></a>
        </div>
        <div style="float:left;">
            <a href="http://www.twilio.com/" style="text: decoration: none; display: inline-block; width: 135px; height: 0; overflow: hidden; padding-top: 44px; background: url(https://static0.twilio.com/packages/company/img/logos_icon_poweredbylarge.png) no-repeat;">powered by twilio™</a>
        </div>
        <div style="clear:both;"></div>
    </div>

  </div>

</div>
