<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SnapBlast</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="welcome">

  <%= yield %>

  <footer style="text-align:center;margin-top:30px;margin-bottom:30px;">
    <hr>
    <a href="http://www.ryan-williams.net">Portland web developer Ryan Williams</a> •
    <a href="https://twitter.com/ryanwi">Follow @ryanwi</a> •
    Email: ryan at ryan-williams.net •
    <a href="https://github.com/ryanwi/snapblast">SnapBlast Code on GitHub</a>
  </footer>

</body>
</html>
